<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">update</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/wallet</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">user_wallet</property>

    <mapping class="org.example.spring.DB"/>
    <mapping class="org.example.spring.Wallet"/>
  </session-factory>
</hibernate-configuration>